<template>
  <!-- Wrapper for modals, because the root element cannot have a for loop -->
  <div>
    <Modal v-for="modal in modals" :key="modal.name" :title="modal.title" :expanded="modal.expanded" :fade-in="modal.fadeIn" :show-close-handle="modal.showCloseHandle" :close-on-outside-click="modal.closeOnOutsideClick" @onClose="handleClose">
      <component :is="modal.component" @onClose="handleClose" v-bind="modal.props" />
    </Modal>
  </div>
</template>

<script>
import Modal from './Modal';
import {ModalBus} from "@/store/actions/utils";

export default {
  name:'ModalRoot',
  components: { Modal },
  data () {
    return {
      modals:[],
    }
  },
  beforeCreate () {
    ModalBus.$on('open', ({ component, title = '', name = null, expanded = false, closable = true, showCloseHandle = true, closeOnOutsideClick = false, fadeIn = true, props = null }) => {
      // -- A name is required because for a modal to be closed, the name must be passed to the modal bus
      // This is because of the ability to open various modals simultaneously
      if( !name ){
        console.error('A modal must be given an unique name to be opened.');
        return;
      }

      // -- If a modal with a given name is already present, return
      if( this.modals.find( m => m.name === name ) ){
        return;
      }

      // -- Prevent the body from scrolling until modal is closed
      document.querySelector('body').classList.add( 'overflow-hidden' );
      document.querySelector('body').classList.add( 'scroll-body-fix' );

      this.modals.push( {
        component: component,
        name: name,
        title: title,
        fadeIn: fadeIn,
        expanded: expanded,
        closable: closable,
        closeOnOutsideClick: closeOnOutsideClick,
        showCloseHandle: showCloseHandle,
        props: props
      } );
    });

    ModalBus.$on('close', () => this.handleClose());
    ModalBus.$on('closeAll', () => this.closeAll());
    ModalBus.$on('closeByName', ({ name }) => this.handleCloseByName( name ));

    document.addEventListener('keyup', this.handleKeyup);
  },
  methods: {
    // -- Close the most recent modal
    handleClose(){
      if( !this.modals.length ) return;
      if( !this.modals[0].closable ) return;

      this.modals.pop();
      this.verifyBodyScroll();
    },
    handleCloseByName( name ) {
      let targetModal = this.modals.find( m => m.name === name );

      if( !targetModal ) return;

      this.modals.remove( targetModal );
      this.verifyBodyScroll();
    },
    closeAll(){
      this.modals = [];
      this.verifyBodyScroll();
    },
    verifyBodyScroll(){
      if( this.modals.length ) return;
      document.querySelector('body').classList.remove( 'overflow-hidden' );
      document.querySelector('body').classList.remove( 'scroll-body-fix' );

    },
    handleKeyup (e) {
      if (e.keyCode === 27) this.handleClose();
    }
  },
  beforeDestroy () {
    document.removeEventListener('keyup', this.handleKeyup);
  },
}
</script>