<template>
  <div class="w-full h-full">
    <transition name="fade" v-if="fadeIn">
      <div class="modal-backdrop z-50" v-show="isOpen" @click="ShouldClose" :class="{open: isOpen}">
        <span v-if="showCloseHandle" class="top-5 right-5 absolute text-white cursor-pointer" @click="BeginCloseTransition"><i class="fas fa-times text-white fa-3x"></i></span>
        <div :class="{'open': isOpen, 'full-modal': expanded, 'modal-dialog': !expanded}" @click.stop>
          <div class="modal-title" v-if="title">{{ title }}</div>
          <div :class="{'modal-body': !expanded, 'full-body': expanded}">
            <slot />
          </div>
        </div>
      </div>
    </transition>

    <div class="modal-backdrop z-50" v-show="isOpen" :class="{open: isOpen}" @click="ShouldClose" v-else>
      <span v-if="showCloseHandle" class="top-5 right-5 absolute cursor-pointer" @click="BeginCloseTransition"><i class="fas fa-times text-white fa-3x"></i></span>
      <div :class="{'open': isOpen, 'full-modal': expanded, 'modal-dialog': !expanded}" @click.stop>
        <div class="modal-title" v-if="title">{{ title }}</div>
        <div :class="{'modal-body': !expanded, 'full-body': expanded}">
          <slot />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      fadeIn: Boolean,
      closeOnOutsideClick: Boolean,
      showCloseHandle: Boolean,
      expanded: Boolean,
      title: String
    },
    data(){
      return{
        isOpen: false
      }
    },
    // -- This is to fire the fade-in transition
    mounted() {
      this.isOpen = true;
    },
    methods:{
      ShouldClose(){
        if( !this.closeOnOutsideClick ) return;
        this.BeginCloseTransition();
      },
      BeginCloseTransition(){
        this.isOpen = false;
        let self = this;

        // -- Close modal after a one second delay
        // This is to preserve animations / fade-in
        setTimeout(() => {
          self.$emit('onClose');
        }, 200);
      },
    },
    watch:{
      isOpen: function( isOpen ){
        if( isOpen ) return;
        this.BeginCloseTransition();
      }
    }
  }
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        @apply transition duration-200;
    }
    .fade-enter, .fade-leave-to {
        @apply opacity-0;
    }
    .fade-enter .modal-dialog, .fade-leave-to .modal-dialog {
        @apply transform -translate-y-8;
    }
    .full-modal{
        width: 100%;
        max-height: 100%;
        overflow:auto;
        padding: 0;
    }
    .full-body{
        height: 100%;
        padding: 0;
        overflow:auto;
        background: #fff;
    }
    .full-backdrop{
        align-items: normal;
    }
</style>