<template>
  <div class="flex flex-row w-full justify-between h-16 border-b border-gray-300">
    <div class="flex flex-row">
      <router-link to="/">
        <div class="menu-item">Reportes</div>
      </router-link>
      <router-link to="/administracion">
        <div class="menu-item">Administrador</div>
      </router-link>
    </div>

    <div class="flex flex-col cursor-pointer">
      <div class="flex flex-row items-center justify-center" @click="showUserMenu = !showUserMenu">
        <i class="fas fa-cog text-2xl"></i>
        <div class="mx-2">{{employee.nombre}}</div>
        <img class="w-16 h-16" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png">
      </div>

      <!-- Context menu for user -->
      <div v-if="showUserMenu" class="flex flex-col relative bg-gray-100 border border-gray-300 rounded-b z-30">
        <hr class="border border-gray-300">
        <h5 class="text-xs extra-bold select-none my-1 p-2 cursor-pointer hover:bg-gray-300" @click="Logout">Cerrar Sesion</h5>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
  name: "NavBar",
  computed:{
    ...mapState(['employee'])
  },
  methods:{
    ...mapActions(['Logout'])
  },
  data(){
    return {
      showUserMenu: false
    }
  }
}
</script>

<style>
  .menu-item{
    @apply flex items-center justify-center font-bold p-4 border-r border-gray-300 cursor-pointer hover:bg-gray-200;
  }
</style>