<template>
  <div class="flex flex-col w-full h-full">
    <!-- Menu bar -->
    <div class="flex flex-row w-full justify-between border-b border-gray-300">
      <div class="flex flex-row">
        <div class="sub-menu-item" @click="currentTab = 'map'">Mapa</div>
        <div class="sub-menu-item" @click="currentTab = 'employees'">Empleados</div>
        <div class="sub-menu-item" @click="currentTab = 'materials'">Materiales</div>
        <div class="sub-menu-item" @click="currentTab = 'vehicles'">Vehiculos</div>
        <div class="sub-menu-item" @click="currentTab = 'traffic'">Semaforos</div>
      </div>
    </div>

    <!-- Display -->
    <Map v-if="currentTab === 'map'"></Map>
    <Employees v-if="currentTab === 'employees'"></Employees>
    <Materials v-if="currentTab === 'materials'"></Materials>
    <Vehicles v-if="currentTab === 'vehicles'"></Vehicles>
    <TrafficLights v-if="currentTab === 'traffic'"></TrafficLights>
  </div>
</template>

<script>
import Map from "@/router/views/administration/Map";
import Employees from "@/router/views/administration/Employees";
import Materials from "@/router/views/administration/Materials";
import Vehicles from "@/router/views/administration/Vehicles";
import TrafficLights from "@/router/views/administration/TrafficLights";

export default {
  name: "Administration",
  components: {TrafficLights, Vehicles, Employees, Map, Materials},
  data(){
    return{
      currentTab: 'map'
    }
  },
}
</script>


<style>
.sub-menu-item{
  @apply flex items-center justify-center text-base font-bold py-1 px-2 border-r border-gray-300 cursor-pointer hover:bg-gray-200;
}
</style>