<template>
  <div class="flex flex-col w-full h-full items-center justify-center">
    <h1 class="text-4xl">Tipos de Reporte</h1>
    <h4 class="text-lg mb-10">Seleccione un tipo de reporte</h4>
    <div class="flex flex-row mb-16">
      <div class="menu-option">
        <i class="fas fa-traffic-light text-3xl mb-3"></i>
        <h4>Reporte Congestion</h4>
      </div>
      <div class="menu-option" @click="OpenCreateMaterialReportModal">
        <i class="fas fa-boxes text-3xl mb-3"></i>
        <h4>Reporte Material</h4>
      </div>
    </div>
  </div>
</template>

<script>
import {ModalBus} from "@/store/actions/utils";
import CreateMaterialReportModal from "@/components/modals/CreateMaterialReportModal";

export default {
  name: "Home",
  methods:{
    OpenCreateMaterialReportModal(){
      ModalBus.$emit('open', {
        name: 'CreateMaterialReportModal',
        component: CreateMaterialReportModal
      });
    }
  },
}
</script>

<style scoped>
  .menu-option{
    @apply flex flex-col items-center justify-center mx-3 border cursor-pointer border-gray-500 h-48 w-48 hover:bg-accent hover:text-white
  }
  .menu-option:hover *{
    @apply text-white;
  }
</style>