<template>
  <div class="flex flex-col w-full h-full items-center justify-center" @submit.prevent="Login">
    <form class="flex flex-col px-32 py-16 border border-gray-500 rounded-xl">
      <div class="flex w-full items-center justify-center text-2xl">Iniciar Sesion</div>
      <hr class="mb-8">

      <!-- Username field -->
      <div class="flex flex-row justify-center items-end">
        <i class="fas fa-user mr-4 pb-4"></i>
        <div class="flex flex-col">
          <label>Nombre Usuario</label>
          <input class="form-control" placeholder="Nombre de usuario" name="nombreUsuario"/>
        </div>
      </div>

      <!-- Password field -->
      <div class="flex flex-row justify-center items-end">
        <i class="fas fa-key mr-4 pb-4"></i>
        <div class="flex flex-col">
          <label>Password</label>
          <input class="form-control" placeholder="Password" type="password" name="password"/>
        </div>
      </div>

      <!-- Submit -->
      <button class="btn-default mt-4" type="submit">Iniciar sesion</button>
    </form>
  </div>
</template>

<script>

import {mapActions} from "vuex";

export default {
  name: "Login",
  methods:{
    ...mapActions(['Login'])
  }
}
</script>