body, html{
    @apply w-full h-full m-0 p-0;
}

* {
    font-family: Arial, sans-serif;
    @apply text-lg text-secondary;
}

.btn-default{
    @apply flex justify-center items-center bg-accent p-3 text-white uppercase text-sm w-full;
}

.tippy-popper *{
    @apply text-white;
}

.btn-default *{
    @apply text-white;
}

select.form-control, input.form-control, .form-control input:not([type="checkbox"]), .form-control select, .form-control textarea{
    @apply border border-gray-400 bg-white w-full py-2 px-3 my-1 text-sm rounded outline-none;
}

#app{
    @apply h-full;
}

.ui-table{
    @apply border border-gray-400;
}

.ui-table thead{
    @apply bg-gray-100 border-b border-gray-400;
}

.ui-table th, .ui-table td{
    @apply p-2 text-sm;
}

.ui-table tr{
    @apply align-baseline text-left;
}

.ui-table td{
    @apply align-middle;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-backdrop {
    @apply bg-transparent-black-o8 fixed top-0 left-0 w-full h-full flex flex-row justify-center items-center;
}
.modal-backdrop-white {
    @apply bg-transparent-white-o8 fixed top-0 left-0 w-full h-full flex flex-row justify-center items-center;
}
.modal-dialog {
    @apply bg-white w-11/12 py-2 px-4 rounded transition duration-500 overflow-auto max-h-9/10;
}
.modal-title {
    @apply font-bold text-xl mb-4 text-gray-300;
}
.modal-body {
    @apply bg-white;
}

.noty_body, .noty_body *{
    @apply select-none text-white leading-loose;
}

.v-fade {
    display: inherit !important; /* override v-show display: none */
    transition: opacity 0.5s;
}

.v-fade[style*="display: none;"] {
    @apply opacity-0 pointer-events-none select-none
}

@keyframes blink {50% { color: transparent }}
.loader_dot { @apply text-6xl text-blue-600; animation: 1s blink infinite }
.loader_dot:nth-child(2) { animation-delay: 250ms }
.loader_dot:nth-child(3) { animation-delay: 500ms }