<template>
  <div class="flex flex-col w-full h-full p-6">
    <div class="flex flex-row justify-between">
      <h1 class="text-3xl">Empleados</h1>

      <div class="flex flex-row justify-center items-center">
        <button class="btn-default bg-black text-xs h-8" @click="OpenCreateEmployeeModal">Crear Empleado</button>
        <input class="form-control w-32 mx-2" placeholder="Buscar empleado"/>
      </div>
    </div>

    <table class="ui-table mt-5">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Rol</th>
          <th>Creado</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="employee in employeeList" :key="employee.id">
          <td class="flex flex-row w-8">
            <button class="btn-default bg-green-500 w-12" @click="OpenEditEmployeeModal( employee.id )"><i class="fas fa-pen"></i></button>
            <button class="btn-default bg-red-500 w-12" @click="DeleteEmployee( employee.id )"><i class="fas fa-trash"></i></button>
          </td>
          <td>{{employee.nombre}}</td>
          <td>{{employee.rol}}</td>
          <td>{{employee.creada}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
  name: "Employees",
  computed:{
    ...mapState(['employeeList'])
  },
  methods:{
    ...mapActions(['OpenCreateEmployeeModal', 'DeleteEmployee', 'OpenEditEmployeeModal'])
  },
  mounted() {
    this.$store.dispatch('FetchEmployeeList');
  }
}
</script>