<template>
  <div class="flex flex-col w-full h-full p-6">
    <div class="flex flex-row justify-between">
      <h1 class="text-3xl">Semaforos</h1>

      <div class="flex flex-row justify-center items-center">
        <button class="btn-default bg-black text-xs h-8" @click="OpenCreateTrafficLightModal">Crear Semaforo</button>
        <input class="form-control w-32 mx-2" placeholder="Buscar semaforo"/>
      </div>
    </div>

    <table class="ui-table mt-5">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Latitud</th>
          <th>Longitud</th>
          <th>Creado</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="trafficLight in trafficLightList" :key="trafficLight.id">
          <td class="flex flex-row w-8">
            <button class="btn-default bg-green-500 w-12" @click="OpenEditTrafficLightModal( trafficLight.id )"><i class="fas fa-pen"></i></button>
            <button class="btn-default bg-red-500 w-12" @click="DeleteTrafficLight( trafficLight.id )"><i class="fas fa-trash"></i></button>
          </td>
          <td>{{trafficLight.nombre}}</td>
          <td>{{trafficLight.latitud}}</td>
          <td>{{trafficLight.longitud}}</td>
          <td>{{trafficLight.creada}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
  name: "TrafficLights",
  computed:{
    ...mapState(['trafficLightList'])
  },
  methods:{
    ...mapActions(['OpenCreateTrafficLightModal', 'DeleteTrafficLight', 'OpenEditTrafficLightModal'])
  },
  mounted() {
    this.$store.dispatch('FetchTrafficLightList');
  }
}
</script>