<template>
  <div class="flex flex-col w-full h-full p-6">
    <div class="flex flex-row justify-between">
      <h1 class="text-3xl">Vehiculos</h1>

      <div class="flex flex-row justify-center items-center">
        <button class="btn-default bg-black text-xs h-8" @click="OpenCreateVehicleModal">Crear Vehiculo</button>
        <input class="form-control w-32 mx-2" placeholder="Buscar vehiculo"/>
      </div>
    </div>

    <table class="ui-table mt-5">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Creado</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="vehicle in vehicleList" :key="vehicle.id">
          <td class="flex flex-row w-8">
            <button class="btn-default bg-green-500 w-12" @click="OpenEditVehicleModal( vehicle.id )"><i class="fas fa-pen"></i></button>
            <button class="btn-default bg-red-500 w-12" @click="DeleteVehicle( vehicle.id )"><i class="fas fa-trash"></i></button>
          </td>
          <td>{{vehicle.nombre}}</td>
          <td>{{vehicle.creada}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
  name: "Vehicles",
  computed:{
    ...mapState(['vehicleList'])
  },
  methods:{
    ...mapActions(['OpenCreateVehicleModal', 'DeleteVehicle', 'OpenEditVehicleModal'])
  },
  mounted() {
    this.$store.dispatch('FetchVehicleList');
  }
}
</script>