<template>
  <div class="flex flex-col p-4">
    <h1 class="text-2xl mb-4">Crear Material</h1>

    <form class="form-control" @submit.prevent="InferAction">
      <input name="id" hidden :value="materialId"/>

      <label>Nombre</label>
      <input placeholder="Nombre del material" name="nombre" :value="materialName"/>

      <button class="btn-default mt-5" v-if="material">Editar material</button>
      <button class="btn-default mt-5" v-else>Crear material</button>
    </form>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "CreateMaterialModal",
  props:{
    material: Object
  },
  methods:{
    InferAction( e ){
      if( !this.material ){
        this.$store.dispatch( 'CreateMaterial', e );
        return;
      }

      this.$store.dispatch( 'EditMaterial', e );
    },
  },
  computed:{
    materialId(){
      if( !this.material ) return;
      return this.material.id;
    },
    materialName(){
      if( !this.material ) return;
      return this.material.nombre;
    },
  }
}
</script>