<template>
  <div class="flex flex-col p-4">
    <h1 class="text-2xl mb-4">Crear Semaforo</h1>

    <form class="form-control" @submit.prevent="InferAction">
      <input name="id" hidden :value="trafficLightId"/>

      <label>Nombre</label>
      <input placeholder="Nombre del semaforo" name="nombre" :value="trafficLightName"/>

      <label>Latitud</label>
      <input placeholder="Nombre del semaforo" name="latitud" :value="trafficLightLat"/>

      <label>Longitud</label>
      <input placeholder="Nombre del semaforo" name="longitud" :value="trafficLightLng"/>

      <button class="btn-default mt-5" v-if="trafficLight">Editar semaforo</button>
      <button class="btn-default mt-5" v-else>Crear semaforo</button>
    </form>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "CreateTrafficLightModal",
  props:{
    trafficLight: Object
  },
  methods:{
    InferAction( e ){
      if( !this.trafficLight ){
        this.$store.dispatch( 'CreateTrafficLight', e );
        return;
      }

      this.$store.dispatch( 'EditTrafficLight', e );
    },
  },
  computed:{
    trafficLightId(){
      if( !this.trafficLight ) return;
      return this.trafficLight.id;
    },
    trafficLightName(){
      if( !this.trafficLight ) return;
      return this.trafficLight.nombre;
    },
    trafficLightLat(){
      if( !this.trafficLight ) return;
      return this.trafficLight.latitud;
    },
    trafficLightLng(){
      if( !this.trafficLight ) return;
      return this.trafficLight.longitud;
    },
  }
}
</script>