<template>
  <div class="flex flex-col p-4">
    <h1 class="text-2xl mb-1">Crear Reporte Material</h1>
    <hr class="mb-4">

    <div class="form-control">
      <label>Comentarios</label>
      <input placeholder="Comentarios" name="comentario"/>

      <label>Empleado</label>
      <select name="idEmpleado" required>
        <option value="" hidden selected>Selecciona un empleado</option>
        <option v-for="employee in employeeList" :value="employee.id" :key="employee.id">{{employee.nombre}}</option>
      </select>

      <label>Vehiculo</label>
      <select name="idVehiculo" required>
        <option value="" hidden selected>Selecciona un vehiculo</option>
        <option v-for="vehicle in vehicleList" :value="vehicle.id" :key="vehicle.id">{{vehicle.nombre}}</option>
      </select>
    </div>

    <div class="flex flex-col mt-4">
      <h1 class="text-2xl">Materiales</h1>
      <hr class="mb-4">

      <!-- Material table -->
      <div class="flex flex-row">
        <div class="border mr-12 w-1/3">
          <table class="w-full">
            <thead>
              <tr>
                <th>Material</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Material selection -->
        <div class="flex flex-col">
          <label>Material</label>
          <select class="form-control" name="idEmpleado" required>
            <option value="" hidden selected>Selecciona un material</option>
            <option v-for="material in materialList" :value="material.id" :key="material.id">{{material.nombre}}</option>
          </select>

          <label>Cantidad</label>
          <input class="form-control" name="cantidad" placeholder="Cantidad de material" type="number">

          <button class="btn-default h-8 mt-4">Agregar material</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: "CreateMaterialReportModal",
  data(){
    return {
      materials: [],
    }
  },
  mounted() {
    this.$store.dispatch('FetchEmployeeList');
    this.$store.dispatch('FetchVehicleList');
    this.$store.dispatch('FetchMaterialList');
  },
  computed:{
    ...mapState(['employeeList', 'vehicleList', 'materialList'])
  }
}
</script>