<template>
  <div class="flex flex-col p-4">
    <h1 class="text-2xl mb-4">Crear Empleado</h1>

    <form class="form-control" @submit.prevent="InferAction">
      <input name="id" hidden :value="employeeId"/>

      <label>Nombre</label>
      <input placeholder="Nombre del empleado" name="nombre" :value="employeeName"/>
      <label>Nombre Usuario</label>
      <input placeholder="Nombre de usuario" name="nombreUsuario" :value="nombreUsuario"/>
      <label>Password</label>
      <input placeholder="Password del empleado" name="password" type="password" :value="password"/>
      <label>Rol</label>
      <input placeholder="Rol del empleado" name="rol" :value="rol"/>

      <button class="btn-default mt-5" v-if="employee">Editar empleado</button>
      <button class="btn-default mt-5" v-else>Crear empleado</button>
    </form>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "CreateEmployeeModal",
  props:{
    employee: Object
  },
  methods:{
    InferAction( e ){
      if( !this.employee ){
        this.$store.dispatch( 'CreateEmployee', e );
        return;
      }

      this.$store.dispatch( 'EditEmployee', e );
    },
  },
  computed:{
    employeeId(){
      if( !this.employee ) return;
      return this.employee.id;
    },
    employeeName(){
      if( !this.employee ) return;
      return this.employee.nombre;
    },
    nombreUsuario(){
      if( !this.employee ) return;
      return this.employee.nombreUsuario;
    },
    password(){
      if( !this.employee ) return;
      return this.employee.password;
    },
    rol(){
      if( !this.employee ) return;
      return this.employee.rol;
    },
  }
}
</script>