<template>
  <div class="flex flex-col p-4">
    <h1 class="text-2xl mb-4">Crear Vehiculo</h1>

    <form class="form-control" @submit.prevent="InferAction">
      <input name="id" hidden :value="vehicleId"/>

      <label>Nombre</label>
      <input placeholder="Nombre del vehiculo" name="nombre" :value="vehicleName"/>

      <button class="btn-default mt-5" v-if="vehicle">Editar vehiculo</button>
      <button class="btn-default mt-5" v-else>Crear vehiculo</button>
    </form>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "CreateVehicleModal",
  props:{
    vehicle: Object
  },
  methods:{
    InferAction( e ){
      if( !this.vehicle ){
        this.$store.dispatch( 'CreateVehicle', e );
        return;
      }

      this.$store.dispatch( 'EditVehicle', e );
    },
  },
  computed:{
    vehicleId(){
      if( !this.vehicle ) return;
      return this.vehicle.id;
    },
    vehicleName(){
      if( !this.vehicle ) return;
      return this.vehicle.nombre;
    },
  }
}
</script>