<template>
  <div class="flex flex-col p-4">
    <h1 class="text-2xl mb-4">Cambiar Estatus de Semaforo</h1>

    <form class="form-control" @submit.prevent="EditTrafficLight">
      <input name="id" hidden :value="trafficLight.id"/>

      <label>Status</label>
      <select name="estado">
        <option value="ROJO" :selected="trafficLight.status === 'ROJO'">Rojo</option>
        <option value="AMARILLO" :selected="trafficLight.status === 'AMARILLO'">Amarillo</option>
        <option value="VERDE" :selected="trafficLight.status === 'VERDE'">Verde</option>
      </select>

      <button class="btn-default mt-5">Cambiar status</button>
    </form>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "UpdateTrafficLightStatusModal",
  props:{
    trafficLight: Object
  },
  methods:{
    ...mapActions(['EditTrafficLight'])
  }
}
</script>