<template>
  <div id="app">
    <div class="w-full h-full">
      <nav-bar v-if="employee"></nav-bar>

      <div class="z-10 w-full h-full" v-if="employee || $route.path === '/login'">
        <router-view></router-view>
      </div>

      <!-- Contains an overlay for when the page is opening a modal -->
      <div v-show="!this.employee && $route.path !== '/login'" class="z-50 select-none" :class="{ 'modal-backdrop': false, 'modal-backdrop-white': !employee }">
        <span class="loader_dot">.</span>
        <span class="loader_dot">.</span>
        <span class="loader_dot">.</span>
      </div>

      <modal-root class="z-50"></modal-root>
    </div>
  </div>
</template>
<script>
import NavBar from "@/components/NavBar";
import {mapState} from "vuex";
import ModalRoot from "@/components/ModalRoot";

export default {
  name: 'App',
  mounted(){
    if( this.$router.currentRoute.path === '/login' ) return;
    this.$store.dispatch('FetchEmployee');
    this.$store.dispatch('FetchVehiclesForMap');
    this.$store.dispatch('FetchTrafficLightList');
  },
  components:{
    NavBar,
    ModalRoot
  },
  computed:{
    ...mapState(['employee'])
  },
}
</script>